<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>bintray-opsbears-webcomponents</id>
            <username>${env.BINTRAY_USER}</username>
            <password>${env.BINTRAY_PASSWORD}</password>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-opsbears-webcomponents</id>
                    <name>bintray</name>
                    <url>https://dl.bintray.com/opsbears/webcomponents</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-opsbears-webcomponents</id>
                    <name>bintray-plugins</name>
                    <url>https://dl.bintray.com/opsbears/webcomponents</url>
                </pluginRepository>
            </pluginRepositories>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <id>bintray</id>
        </profile>
    </profiles>
</settings>
